  html, body {
    height: 100%;
  }

  body{
    margin: 0px;
    background-image: url('img/site_b.jpg');
    background-size: cover;
    background-position: center center;
  }
  
  .carousel-caption{
    background-color: #00000091;
    border-radius: 8px;
  }